
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    width: 100%;
}
#control-panel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    background-color: #2D3748; /* Dark background for contrast */
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    gap: 10px;
}
#controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
#controls label {
    font-size: 1rem;
    margin-right: 5px;
    color: #9FA6B2; /* Lighter text for labels */
}
#controls input[type="number"], #controls button {
    padding: 10px 15px;
    border: 2px solid #4CAF50; /* Matching border color to buttons */
    background-color: #4A5568; /* Slightly lighter than the control panel */
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    width: auto; /* Adjust the width as needed */
    outline: none; /* Remove the default focus outline */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for interactions */
}
#controls input[type="number"]:focus {
    border-color: #63B3ED; /* Highlight color when input is focused */
}
#controls button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
}
#controls button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: translateY(-2px); /* Slight raise effect on hover */
}
#date-display {
    margin-top: 10px;
    background-color: #2D3748; /* Matching the control panel background */
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1rem;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%; /* Full width */
    box-sizing: border-box;
}